<div class="col-md-2">
    <div class="panel">
    <div class="panel-heading">
      <h1 class="panel-title">
        Search
      </h1>
    </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label"> Name </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.name" />
            </div>
            <div class="form-group">
                <label class="control-label"> Node </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.node" />
            </div>
            <div class="form-group">
                <label class="control-label"> Image </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.image" />
            </div>
            <div class="form-group">
                <label class="control-label"> Created </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.created" />
            </div>
            <div class="form-group">
                <label class="control-label"> Status </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.status" />
            </div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <table ng-show="containers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> Name </th>
                <th> Node </th>
                <th> Image </th>
                <th> Created </th>
                <th> Status </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="container in containers.containers | filter: {Name: keyword.name, Node: keyword.node, Image: keyword.image, Created: keyword.created, Status: keyword.status }">
                <td>{{container.Name}}</td>
                <td><a class="btn btn-primary btn-xs" ng-click="containers.node.open({name: container.Node})">{{container.Node}}</a></td>
                <td>{{container.Image}}</td>
                <td>{{container.Created}}</td>
                <td>{{container.Status}}</td>
            </tr>
        </tbody>
    </table>
</div>
