<div class="col-md-2">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="panel-title">
                Search
            </h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="control-label"> Name </label>
                <input type="text" class="form-control input-sm" ng-model="images.keyword.name" />
            </div>
            <div class="form-group">
                <label for="" class="control-label"> Tag </label>
                <input type="text" class="form-control input-sm" ng-model="images.keyword.tag" />
            </div>
            <div class="form-group">
                <label for="" class="control-label"> Created </label>
                <input type="text" class="form-control input-sm" ng-model="images.keyword.created" />
            </div>
            <div class="form-group">
                <label for="" class="control-label"> Size </label>
                <input type="text" class="form-control input-sm" ng-model="images.keyword.size" />
            </div>
        </div>
    </div>
</div>
<div class="col-md-10">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> Name </th>
                <th> Tag </th>
                <th> Created </th>
                <th> Size </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="image in images.imageData| filter: {
                    name: images.keyword.name,
                    tags: images.keyword.tag,
                    size: images.keyword.size,
                    created: images.keyword.created
                }">
                <td>
                    <a class="btn btn-default btn-xs" ng-click="images.displayImageDetail(image.id)">
                        {{image.name}}
                    </a>
                </td>
                <td>{{image.tags}}</td>
                <td>{{image.created}}</td>
                <td>
                    <div ng-show="image.size> 500">
                        <span class="label label-danger">{{image.size | number:1}} Mb</span>
                    </div>
                    <div ng-show="image.size > 250 && image.size <= 500">
                        <span class="label label-warning">{{image.size | number:1}} Mb</span>
                    </div>
                    <div ng-show="image.size <= 250">
                        <span class="label label-primary">{{image.size | number:1}} Mb</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>