<div class="col-md-2">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="panel-title">
                Search
            </h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="control-label"> Name </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.name" />
            </div>
            <div class="form-group">
                <label for="" class="control-label"> Tag </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.tag" />
            </div>
            <div class="form-group">
                <label for="" class="control-label"> Created </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.created" />
            </div>
            <div class="form-group">
            <label for="" class="control-label"> Size </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.size" />
            </div>
        </div>
    </div>
</div>
<div class="col-lg-10">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Tag </th>
                    <th> Created </th>
                    <th> Size </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in imageData| filter: {
                    name: keyword.name,
                    tags: keyword.tag,
                    size: keyword.size,
                    created: keyword.created
                }">
                    <td>{{image.name}}</td>
                    <td>{{image.tags}}</td>
                    <td>{{image.created}}</td>
                    <td>
                        <div ng-show="image.size> 500">
                            <span class="btn btn-danger btn-xs">{{image.size | number:1}} Mb</span>
                        </div>
                        <div ng-show="image.size > 250 && image.size <= 500">
                            <span class="btn btn-warning btn-xs">{{image.size | number:1}} Mb</span>
                        </div>
                        <div ng-show="image.size <= 250">
                            <span class="btn btn-primary btn-xs">{{image.size | number:1}} Mb</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
