<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Containers
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <label>Running</label>
                <span class="" ng-class="{'pull-right': true, label:true, 'label-success': info.ContainersRunning > 0, 'label-danger': info.ContainerRunning <= 0}">
                        {{info.ContainersRunning}}
                </span>
            </li>
            <li class="list-group-item">
                <label>Paused</label>
                <span class="" ng-class="{'pull-right': true, label:true, 'label-warning': info.ContainersPaused > 0, 'label-success': info.ContainersPaused <= 0}">
                        {{info.ContainersPaused}}
                </span>
            </li>
            <li class="list-group-item">
                <label>Stopped</label>
                <span class="" ng-class="{'pull-right': true, label:true, 'label-warning': info.ContainersStopped > 0, 'label-success': info.ContainersStopped <= 0}">
                        {{info.ContainersStopped}}
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Docker
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <label>Version:</label>
                <span class="pull-right label label-default">{{version.Version}}</span>
            </li>
            <li class="list-group-item">
                <label>API:</label>
                <span class="pull-right label label-default">{{version.ApiVersion}}</span>
            </li>
            <li class="list-group-item">
                <label>OS:</label>
                <span class="pull-right label label-default">{{version.Os}}</span>
            </li>
            <li class="list-group-item">
                <label>Arch:</label>
                <span class="pull-right label label-default">{{version.Arch}}</span>
            </li>
            <li class="list-group-item">
                <label>Kernel:</label>
                <span class="pull-right label label-default">{{version.KernelVersion}}</span>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Docker Swarm
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <label>Nodes:</label>
                <span class="pull-right label label-default">{{info.SystemStatus.nodeCount}}</span>
            </li>
            <li class="list-group-item">
                <label>Strategy:</label>
                <span class="pull-right label label-default">{{info.SystemStatus.strategy}}</span>
            </li>
        </ul>
    </div>
</div>
