<div class="col-md-3">
    <div class="panel filter-panel">
    <div class="panel-heading">
      <h1 class="panel-title">
        Search
      </h1>
    </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label"> Status </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.status" />
            </div>
            <div class="form-group">
                <label class="control-label"> Name </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.name" />
            </div>
            <div class="form-group">
                <label class="control-label"> Host </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.host" />
            </div>
            <div class="form-group">
                <label class="control-label"> Containers </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.containers" />
            </div>
            <div class="form-group">
                <label class="control-label"> CPU </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.cpu" />
            </div>
            <div class="form-group">
                <label class="control-label"> Memory </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.memory" />
            </div>
            <div class="form-group">
                <label class="control-label"> Update at </label>
                <input type="text" class="form-control input-sm" ng-model="keyword.update" />
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Host</th>
                <th>Containers</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>Update at</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-show="nodes.nodes.length > 0">
            <tr ng-repeat="node in nodes.nodes | filter: {
              status:     keyword.status,
              name:       keyword.name,
              host:       keyword.host,
              containers: keyword.containers,
              cpu:        keyword.cpu,
              memory:     keyword.memory,
              update:     keyword.update
            }">
                <td style="text-align:center"><a class="btn btn-primary btn-xs">{{node.status}}</a></td>
                <td>{{node.name}}</td>
                <td>{{node.host}}</td>
                <td>{{node.containers}}</td>
                <td>{{node.cpu}}</td>
                <td>{{node.memory}}</td>
                <td>{{node.update}}</td>
                <td><a class="btn btn-danger btn-xs" ng-click="nodes.open($index)"><i class="fa fa-info-circle"></i> Details</a></td>
            </tr>
        </tbody>
    </table>
</div>
