<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Visualizer</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <h3>Grouping</h3>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="models.groupingCheckboxes.imageName" ng-click="toggleGrouping(['imageName'])">
                                    Image Name
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="models.groupingCheckboxes.agents" ng-click="toggleGrouping(['agents'])">
                                    Collapse Swarm Cluster
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">                        
                            <h3>Filters</h3>
                            <label for="usr">Image Name</label>
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="models.filterInputs.imageName">
                            </div>
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-default btn-default" ng-click="imageFilter()">
                                    <span class="fa fa-refresh" aria-hidden="true"></span> Filter
                                </button>
                                <button type="submit" class="btn btn-default btn-default" ng-click="refresh()">
                                    <span class="fa fa-refresh" aria-hidden="true"></span> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="height:500px">
            <div id="canvas" style="width:100%;height:100%;background-color: #f3f3f4"></div>
        </div>
    </div>
</div>
